.question-section {
  padding: 1.5rem;
  /*background-color: #f3f4f6;*/
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.section {
  padding: 1.5rem;
}

.name-section {
  padding: 1.5rem;
  padding-bottom: 0;
}

.title {
  font-size: 1.875rem; /* 3xl */
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem; /* 2xl */
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.grey-subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.name {
  margin-bottom: 0.2rem;
}

.list {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: inherit;
}

.iframe-container {
  display: flex;
  justify-content: center;
}
